.footer-links {
  text-align: center;
}

.footer-links a{
  color: black;
}

.logout {
  text-align: center;
  margin: 30px;
}


.card-sphere-show-contact {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.card-sphere-show-contact > img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.edit-banner {
  margin-bottom: 20px;
}

.card-sphere-contact-page {
  height: auto;
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid lightgray;
  padding-bottom: 20px;
}

.sphere-content {
  padding: 15px;
}
