<!-- _user.html.erb -->
<% if current_user.is_following?(user.id) %>
  <li data-user="<%= user.id %>">
    <%= link_to "unfollow", unfollow_user_path(user.id), method: :post, remote: true %>
  </li>
<% else %>
  <li data-user="<%= user.id %>">
  <%= link_to "follow", follow_user_path(user.id), method: :post, remote: true %>
  </li>
<% end %>

