<div class="footer-links">
  <h2>Find us on social media</h2>
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/loki_the_berlin_collie/"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>

  </div>
  <div class="footer-copyright">
  <h2>Contact us</h2>
     Share your <i class="fas fa-heart", color: yellow></i> - share your thoughs: <br>
     <a href="mailto:hello@balconia.xyz">hello@balconia.xyz</a>

  </div>
