.edit-banner {
  background-size: full-width-banner img;
  //background-size: cover;
  //background-repeat: no-repeat;
  background-position: center;
  background-color: $yellow;
  padding: 20px 0px 20px 0px;
  height: 120px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 36px;
  font-weight: medium;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 0 !important;
  // padding: 15px 15px;
  }

.margin {
  margin-bottom: 20px !important;
}

  .banner.h1 {
    font-size: 36px;
    font-weight: medium;
    text-align: center;
  }
