.btn-yellow {
    border: none;
    opacity: 0.5;
    background-color: #F7D167;
    color: white;
    padding: 8px 25px;
    border-radius: 2px;
    font-family: "Quicksand", sans-serif;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    a {
      color: white;
    }
  }

  .btn-yellow:hover {
    background-color: #fec92d;
    color: white;
    padding: 8px 25px;
    border-radius: 2px;
    opacity: 1;
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
  }

  .btn btn-light {
    padding: 8px 25px;
    border-radius: 4px;
    font-family: "Quicksand", sans-serif;
}

#file-upload-button {
margin: 0px 0px 2px;
}

