.btn-yellow {
    border: none;
    opacity: 0.5;
    background-color: #F7D167;
    color: white;
    padding: 8px 25px;
    border-radius: 2px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
  }