.btn-yellow {
  display: flex;
  align-items: center;
  width: 140px;
  border: none;
  opacity: 0.7;
  background-color: $yellow;
  color: white;
  padding: 8px 25px;
  border-radius: 6px;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  a {
    color: white;
    text-decoration: none;
    border: none;
  }
  input {
    border: none;
  }
}

.btn-yellow:active {
  text-decoration: none;
  border: none;
}

.btn-yellow:hover {
  background-color: #F7D167;
  color: white;
  padding: 8px 25px;
  border-radius: 6px;
  opacity: 1;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  a {
    color: white;
    text-decoration: none;
    border: none;
  }
}

.btn.btn-light {
  width: 100%;
  padding: 8px 25px;
  border-radius: 6px;
  font-family: "Quicksand", sans-serif;
  color: #708090 ;
  text-align: center;
}

.btn-light {
  color:  #708090;
  background-color: #f8f9fa !important;
  border-color: #f8f9fa;
  width: 140px;
  padding: 8px 25px;
  border-radius: 6px;
  font-family: "Quicksand", sans-serif;
  color: #708090;
  text-align: center;
  &:focus{text-decoration: none; border: none;}
}

#file-upload-button {
margin: 0px 0px 2px;
}

#list_button {
  position: sticky;
  bottom: 90%;
  margin-left: 140px;
  opacity: 1;
}

#map_button {
  position: fixed;
  bottom: 90%;
  margin-left: 110px;
  opacity: 1;
}

#vincinity_button {
  position: fixed;
  top: 10%;
  right: 30%;
  opacity: 1;
}

.mapboxgl-ctrl-top-right .mapboxgl-ctrl {
  margin: 28px 10px 0 0 !important;
  width: 40px;
  height: 40px;
  background-color: $yellow;
}

.mapboxgl-ctrl-icon {
    position: absolute;
    bottom: -0px;
}
.mapboxgl-ctrl-group:not(:empty) {
  box-shadow: none !important;
}

.mapboxgl-ctrl button:not(:disabled):hover {
  background-color: $yellow !important;
  box-shadow: none;
}

#whitelink a{
  color: white;
}
