.card-message {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);

  h2 {
    font-size: 15px;
    color: black;
    padding: 10px;
  }
}

.card-message:hover {
  opacity: 1;
}

.chat-container {
  flex-grow: 1;
  padding: 5px;
}

.chat-img {
  border-radius: 50%;
  display: flex;
}

.chatroom-link {
  text-decoration: none;
}

.card-message p {
  margin: 0;
  line-height: 1.4;
  padding: 5px;
}
