.card-message {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
  h2 {
    font-size: 20px
  }
}

.chatroom-link {
  text-decoration: none;
}

.card-message p {
  margin: 0;
  line-height: 1.4;
}
