.page-container {
  height: 100vh;
  margin-bottom: 60px;
  background-color: $yellow;
}

.col-12 {
  margin-bottom: 60px !important;
}

.mapboxgl-popup {
  width: 50%;
}

.mapboxgl-canvas {
  width: 375px !important;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  padding: 5px 5px 5px !important;
  background: white !important;
}
.mapboxgl-popup-close-button {
  color: white !important;
  margin-right: 6px !important;
  margin-top: 2px !important;
}

.map-popup {
  overflow: hidden;
  height: 100%;
  width: 100%;
  background: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: auto;

  flex-direction: column;
}

.map-popup img {
  height: 30%;
  width: 100%;
  object-fit: cover;
}


.map-infos {
  padding: 16px;
}

.map-infos a{
  color: black;
  font-size: 15px;
  line-height: normal;
}

.map-filters-toggle{
  height: 40px;
  background-color: $yellow !important;
}


