.navbar {
  background: $yellow;

  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
  box-shadow: 0px -0.5px 2px grey;
  z-index: 3;
}
.navbar-items {
  margin: auto;
  display: flex;
  width: 95%;
}
.nav-item {
  justify-content: space-between;
  font-size: 24px;
  margin: auto;
}

h3 {
  margin: 3%;
}

.fas {
  color: white;
}
