h1 {
    color: $yellow;
    font-size: 28px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

// h2 {

// }

// h3 {

// }


a {
  font-size: 18px;
}

p {
  font-size: 18px;
}

h4 {
    font-size: 28px;
    text-decoration: none;
}

h5 {
    font-size: 18px;
}


#bookings-index-header {
    font-size: 28px;
}