h1 {
    color: $yellow; 
    font-weight: medium;
    font-size: 36px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

h2 {

}

h3 {

}

h4 {
    font-size: 25px;
    text-decoration: none;
}

h5 {
    font-size: 15px;
}


#bookings-index-header {
    font-size: 25px;
}